{
	"presets":[["@babel/preset-env",{
		"useBuiltIns":"usage",
		"corejs":"2.5.6"
	}],"@babel/preset-react"],
	"plugins": [
		["@babel/plugin-proposal-class-properties", { "loose": true }],
		[
		  "@babel/plugin-transform-runtime",
		  {
			"absoluteRuntime": false,
			"corejs": false,
			"helpers": true,
			"regenerator": true,
			"useESModules": false
		  }
		]
	  ]
}