html,body{
	padding:0;
	margin:0;
	background:black;
}
.box{
	color:red;
	position:absolute;
	width:200px;
	height:200px;
	background:gray;
}
.MyRect{
	fill:blue;

}
.MyCircle{
	fill:red;
}
.svgAnimeContainer{
	position: relative;

}
.showPic{
	 
}