html{
    overflow: hidden;
}
html,body{
    padding:0;
    margin:0;
    box-sizing: border-box;
  
}
#app{
    position: relative;
    background:gray;
    width:19.2rem;
    height:10.8rem;
    border:3px solid red;
    box-sizing: border-box;
}

